.App {
  text-align: left;  /* Align text to the left */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start; /* Align content to the left */
  padding: 10px; /* Optional: adds a little padding around the content */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align logo and text to the left */
  justify-content: flex-start; /* Align content to the top */
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%; /* Ensure it takes up the full width */
  padding: 10px; /* Optional: adds a little padding inside the header */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
